<div class="container">
  <div class="row">
  <div class="col-md-6 col-offset-2">
<h1>Welcome to the Coding with Clair website</h1>

<h4>Please click on the link below to navigate the site</h4>

<%= link_to "Blog", posts_path %><br>
  <%= link_to "How to's", snippets_path %>
    </div><!-- content --> 
    
    
  </div><!-- row -->
</div><!-- container -->