<div class="container-fluid">
  <div class="col-md-offset-2 col-md-8 headings">
    <h1>Editing <%= @entry.title %></h1>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-7">
      <%= render "form" %>
    </div>
  </div>
</div>