<div class="container-fluid">
  <!-- Heading -->
  <div class="col-md-offset-2 col-md-8 headings">
    <h1>Add a new entry</h1>
  </div>
  <!-- Form -->
  <div class="row">
    <div class="col-md-offset-2 col-md-7">
      <%= render "form" %>
    </div>
  </div>
</div>