<div class="container-fluid" %>
  
  <div class="col-md-offset-2 col-md-7">
    <h1 style="text-align: center;">GUIDES</h1>
    <p>These mini how to guides are very short instructions on how to perform certain actions within your code. I've used them all and wanted to keep them in a safe place but also I wanted to explain what I was doing in plain english since some guides are a little too techy for me. Enjoy!</p>
  </div>
  
  <div class="row">
    
    <div class="col-md-offset-2 col-md-7">
      <% @snippets.each do |snippet| %>
      <h4><%= link_to snippet.title, snippet_path(snippet) %></h4><br>
      <% end %>
      <%= link_to "Add a new code snippet", new_snippet_path, class:"btn btn-default" %>
    </div>

    <div class="col-md-2 side-column-<%=params[:controller]%>">
      <p>Guide navigation</p>
        <% @snippets.group_by{|snippet| snippet.category}.each do |category, value| %>
      <li><%= category %></li>
      <% end %>
    </div>
  
  </div><!-- row -->
</div><!-- container -->