<h3 class="course-table-title">Computer Science</h3>
<table class="table table-responsive">
  
  <tbody>
    <tr>
      <td class="first-col"><%= image_tag "providers/harvard.png", height: '50', width: '50', class: "img-responsive image center-block"%></td>
      <td class="table-text"><strong>CS50 - Intro to Computer Science</strong></td>
      <td><a href="https://cs50.harvard.edu/">Syllabus</a></td>
    </tr>
    <tr>
      <td class="first-col"><%= image_tag "providers/khan.png", height: '50', width: '100', class: "img-responsive image center-block"%></td>
      <td class="table-text"><strong>Learn SQL</strong> </td>
      <td><a href="https://www.codecademy.com/clairgriffiths19">Syllabus</a></td>
    </tr>
    
  </tbody>
</table>