<div class="skills-box">
<h3 class="course-table-title">Rails</h3>
<table class="table table-responsive">
  
  <tbody>
    <tr>
      <td class="first-col"><%= image_tag "providers/treehouse.png", height: '50', width: '50', class: "img-responsive image center-block"%></td>
      <td class="table-text">Dozens of courses including: 
        <br> <strong>Helpers, Callbacks, Gems, Migrations, ActiveRecord, Partials</strong></td>
      <td><a href="http://teamtreehouse.com/clairgriffiths">Profile</a></td>
    </tr>
    <tr>
      <td class="first-col"><%= image_tag "providers/codecademy.png", height: '50', width: '100', class: "img-responsive image center-block"%></td>
      <td class="table-text">Finished Rails track which, along with the above, includes: 
        <br> <strong>Authentication</strong> </td>
      <td><a href="https://www.codecademy.com/clairgriffiths19">Profile</a></td>
    </tr>
    <tr>
      <td class="first-col"><%= image_tag "providers/codeschool.png", height: '50', width: '100', class: "img-responsive image center-block"%></td>
      <td class="table-text">Finished Rails for Zombies which included: 
        <br><strong>Inheritance, Stacks &amp; Queues, Enumerables, Debugging, Serialization</strong>  </td>
      <td><a href="https://www.codeschool.com/users/cakeordeath83">Profile</a></td>
    </tr>
  </tbody>
</table>
</div>