<h3 class="course-table-title">Ruby</h3>
<table class="table table-responsive">
  <tbody>
    <tr>
      <td class="first-col"><%= image_tag "providers/treehouse.png", height: '50', width: '50', class: "img-responsive image center-block"%></td>
      <td class="table-text">Dozens of courses including: 
        <br> <strong>Operators and Control Structures, Loops, Objects and Classes, Blocks, Modules</strong></td>
      <td><a href="http://teamtreehouse.com/clairgriffiths">Profile</a></td>
    </tr>
    <tr>
      <td class="first-col"><%= image_tag "providers/codecademy.png", height: '50', width: '100', class: "img-responsive image center-block"%></td>
      <td class="table-text">Finished Ruby track which, along with the above, includes: 
        <br> <strong>Sorting, Refactoring, Procs &amp; Lambdas, Modules &amp; Mixins</strong> </td>
      <td><a href="https://www.codecademy.com/clairgriffiths19">Profile</a></td>
    </tr>
    <tr>
      <td class="first-col"><%= image_tag "providers/rubymonk.png", height: '50', width: '100', class: "img-responsive image center-block"%></td>
      <td class="table-text">Finished Ruby Beginner and Intermediate tracks which include: 
        <br><strong>Inheritance, Stacks &amp; Queues, Enumerables, Debugging, Serialization</strong>  </td>
      <td><a href="http://rubymonk.com/u/clair">Profile</a></td>
    </tr>
  </tbody>
</table>