<div class="skills-box">
<h3 class="course-table-title">SQL</h3>
<table class="table table-responsive">
  
  <tbody>
    <tr>
      <td class="col-md-1 first-col"><%= image_tag "providers/treehouse.png", height: '50', width: '50', class: "img-responsive image center-block"%></td>
      <td class="col-md-10 table-text"><strong>Database Foundations</strong></td>
      <td class="col-md-1"><a href="http://teamtreehouse.com/clairgriffiths">Profile</a></td>
    </tr>
    <tr>
      <td class="col-md-1 first-col"><%= image_tag "providers/codecademy.png", height: '50', width: '100', class: "img-responsive image center-block"%></td>
      <td class="col-md-10 table-text"><strong>Learn SQL</strong> </td>
      <td class="col-md-1"><a href="https://www.codecademy.com/clairgriffiths19">Profile</a></td>
    </tr>
    <tr>
      <td class="col-md-1 first-col"><%= image_tag "providers/codeschool.png", height: '50', width: '100', class: "img-responsive image center-block"%></td>
      <td class="col-md-10 table-text"><strong>The Sequel to SQL</strong>  </td>
      <td class="col-md-1"><a href="https://www.codeschool.com/users/cakeordeath83">Profile</a></td>
    </tr>
  </tbody>
</table>
</div>