<div class="container">
  <h2 class="about-header">So, who are you then?</h2>

<p>*stands up and clears throat*<p>

<p>Hi there, I’m Clair, I’m 32 years old and I want to be a developer. Specifically a Ruby on Rails developer. A couple of months ago I quit my job and gave myself  6-8 months to learn everything I need to know to get a job.</p>

  <h2 class="about-header">Whoa, you quit your job?! What did you do before?</h2>

<p>I used to work as a media planner for a UKTV and did that for nearly last 6 years. Don’t worry, I get that blank face  a lot when I tell people. Basically I dealt with promoting TV programmes across all of UKTV’s channels. Its a type of marketing, but the ‘using numbers and spreadsheet’ type of marketing, not the ‘choosing which shade of blue represents the brand’ type of marketing. Anyway, other than the occasional delve into the VBA within an Excel spreadsheet, my old job had pretty much sod all to do with Web Development. </p>

  <h2 class="about-header">Er, so why did you decide to learn coding then?</h2>

<p>TL:DR – I want to build applications that make my life easier. Basically I’m very lazy and if I can create a programme to do something for me, great. Plus, saying that I’m a Web Developer is going to be so much cooler than saying I was a Media Planner. I tried coding, I liked it, now it’s time to make a career out of it.</p>

<h4>Slightly longer version</h4>

<p>I knew for a while that I didn’t want to stick around in my old job so I started having a long hard look at what I thought I was good at (which, of course, involved a spreadsheet) and what parts of my job I enjoyed. I quickly realised that the best part of my job was writing a kick-ass excel formulas to get data out of a 20,000-row worksheet (yep, I say that with a completely straight face). A slow epiphany dawned on me that excel formulas are actually tiny bits of code. You tell the computer what you want it to do and it outputs the answer for you!  Then you find you can automate some of these tasks and suddenly that crappy admin task the whole team used to have to do once a week no longer takes 1 hour but a mere 5 minutes! After you’ve trained the team up on how to use the spreadsheet, discovered 3 or 4 ways they can break it, fixed it, dealt with the 1 team member that overwrites all the formulas, kicked yourself that you didn’t save a backup version, rewritten the formulas and locked down as many cells as you possibly can, you step away from your desk knowing that you’ve saved the whole team a bunch of time and effort. And despite the fact it is the most complicated set of formulas you’ve ever written, no medal is waiting for you, no congratulatory handshake or pat on the back are on their way as no-one has a clue how you did it. But you do. And if you can do that to a crappy spreadsheet, just imagine what you could do with an entire programme. </p>

<p>So I looked into online courses and started following them  and found that I actually enjoyed it! After a couple of months of trying a bunch of languages I finally stumbled upon Ruby on Rails. And that was it. As soon as I’d built my first scaffold and booted up the server to look at it in all it’s glory, I knew I wanted to do this as a career.</p>

  <h2 class="about-header">Wow, weird. So how are you going to do it?</h2>

<p>Well  I’m still sort of working for UKTV. ish. I do 2 days a week (Mondays and Tuesdays) which leaves me with 5 days a week for studying (well, I’m honest with you person-who-want-to-know-more-about-me, its 4 days for studying. I take Friday and Saturday afternoons off because, quite honestly, who works on a Friday or Saturday evening? Plus I need to go out and get food every now and then to stop me from becoming a full-blown hermit). Then in January I’m going full-time student which means that I’m going to give myself 1 whole day off (yay!) but the savings account will start to take a bigger hit (boo!) which puts the pressure on. I’m not doing a bootcamp or course, I’m giving it a go with free stuff I find on the internet and a huge dollop of self-motivation (which explains the frequent keyboard face plants and fact that my flat is showroom-quality clean right now. Cleaning is my number one procrastination tool.)</p>

  <h2 class="about-header">Where can I see your stuff?</h2>

<p>Links to my twitter and github pages are in the header and you can also find more information in my portfolio pages. The code will most likely be a mess, either littered with cryptic comments I’ve left myself, or devoid of any indication as to what the hell is going on. I’m trying to get into good habits. Honest.</p>
</div>