<div class="container">
   <% provide(:title, "| About Me") %>
	
  <div class="row">
		<div class="headings">
			<h1 class="heading-text">ABOUT ME</h1>
      <p>Since the way I went about learning how to code was a little 'unconventional', I've tried to address many of the questions that I've been asked by other people looking to do the same. I studied to become a Ruby on Rails developer so most of the resources are skewed towards this, but many of the sites also offer courses in other languages. Please click on one of the links below for more information and if you have any further questions or sections you think I should write then please give me a shout on Twitter (link)</p>
    </div>
  </div>

	
  <div class="row">
    <h3>About Me</h3>
    <ul>
      <li>Why a career in web development?</li>
      <li>How I made it happen</li>
      <li>Timeline</li>
    </ul>
  </div>
  
  <div class="row">
    <h3>Resources</h3>
    <ul>
      <li>Learning Resources</li>
      <li>Learning Tools</li>
      <li>Other Resources</li>
      <li>Social Media and Podcasts</li>
      <li>Meetups</li>
    </ul>
  </div>
  
  <div class="row">
    <h3>Job Hunting</h3>
    <ul>
      <li>Looking for jobs</li>
      <li>CV tips</li>
      <li>Silicon Milkroundabout</li>
      <li>Interviewing</li>
    </ul>
  </div>

</div><!-- container -->
