<div class = "container-fluid" >
	<% provide(:title, "| Campaign") %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8" >
      <h1 class="text-center">Campaign Management app</h1><br>
		    <div class="portfolioseperator">
        </div>
      <div class="content">
        <p><strong>Elevator pitch:</strong> A campaign management tool that allows multiple campaigns to be managed across weeks and channels.</p>
        <p><strong>Client: </strong>Me (to prove I can make it)</p>
      </div>
			
	    <div class="portfolioseperator">
      </div>
		
	    <div class="content">
		    <p><strong>Description</strong></p>
			  <p>One of the main triggers for me to start seriously looking into learning how to code was a frustration I had in my previous job. We had information scattered across 3 different Excel spreadsheets which were all used for different reasons, which lead to duplication of effort and an increased chance of errors. I wanted to create a central place to house this information that not only saved a need for duplication, but could also provide added data insights and automation</p>
		    <p>This project will be in 3 stages:</p>
		    <p><strong>Stage 1 </strong></p>
        <p>Creation of a central database with simple reports that can be exported to Excel. Possibly also some simple charts</p>
	      <p><strong>Stage 2 </strong></p>
		    <p>More efficient user interface. The ability to defer a campaign for a week and other simplification when updating data. A reminder system for inputting data.</p>
        <p><strong>Stage 3 </strong></p>
		    <p>Interfacing with a (hypothetical) scheduling system, both recieving and exporting xml files. Ideally these should  be automated daily with the possibility of a manual export/import</p>
  </div><!-- row -->
</div><!-- container -->