<div class="container">
   <% provide(:title, "| Resources") %>
  <div class="row">
		<div class="headings">
			<h1 class="heading-text">RESOURCES</h1>
      <p>Most of these resources are free although there are some books that I bought but you can find them pretty cheap second hand. All in all I estimate that I spent around £300 in total on resources (around £100 on books and £200 on a recurring Treehouse subscription).</p>
      <p>I've ordered the resources in terms of importance to my learning and how much I used them.</p>
    </div>
  </div>

  <div class="row" style="text-align:center">
    <h3>Online Resources</h3>
    <br>
  </div>

  <div class="row">
    <h3>Tutorials</h3>
    <h4><a href="http://www.teamtreehouse.com">Treehouse</a></h4>
    <p>Treehouse has a huge number of online tutorials for a number of different languages and at the beginning I found them invaluable. The videos are well paced and after each section there is a short test, sometimes multiple choice and sometimes you have to type in the answer. Sometimes the questions are badly worded, but there are many forums in which you can ask for help (which I did a number of times). They don't seem to be adding many Ruby videos any more, but the ones they have are still relevant. If you are able to dedicate a good chunk of time to studying, it is well worth the price and if you can't then there is an option to pause membership which can save you money.</p>
    <br>
    <h4><a href="http://www.codecademy.com">Codecademy</a></h4>
    <p>Always the first place I check when I need to learn something new. Unfortunately, they have put some of it behind a paywall now, but the free stuff is still good. It allows you to code right in the browser, which is great if you are just looking for something to fill 10 minutes as you don't have to worry about setting up anything locally. Sometimes the instructions don't make much sense but I believe that they are sometimes written by people hwho don't speak English as their first language. There are also help forums on here too for when you get stuck and almost every time I looked for help I found someone else had had the same problem and there were plenty of solutions.</p>
     <br>
    <h4><a href="https://www.railstutorial.org/book">Ruby on Rails tutorial</a></h4>
    <p>Tough going, teaches you an awful lot (almost too much for a beginner resource) but ultimately worth it. I ran through this once when I was starting to learn and just did everything I was told to create the final app. I then revisited a couple of months later with a much clearer understanding of what I was doing and it was much more valuable.</p>
    <br>
    <h4><a href="https://cs50.harvard.edu/weeks">Harvard's CS50 course</a></h4>
    <p>Harvard University filmed and released their Introduction to Computer Science course for several years and I found them incredibly useful. The lecturer is easy to understand, passionate and found a way to explain some pretty difficult concepts in a really interesting and engaging way. The early examples are written in C but even that was useful for me to just get an idea of what C code looked like and some of the issues that other languages have to deal with (such as memory allocation). Very good resource to widen your general Comp Sci knowledge.</p>
    <br>
    <h4><a href="http://www.theodinproject.com/">The Odin Project</a></h4>
    <p>From the people that created Viking Code School, an online bootcamp, this is their free version of a Ruby on Rails course. It is predominantly a series of links to other resources but they are incredibly well laid out and filled in with other bits of useful information. You can also take the prep work classes for the paid course for free which are also incredible useful</p>
    <br>
    <h4><a href="http://rubykoans.com/">Ruby Koans</a></h4>
    <p>This took me FOREVER to figure out how it works! You download some files, run the first file as directed on the website and the exercises are set up as a series of tests that you have to get to pass. When you fill in the blanks with the correct answers and run the tests, it shows you your progress. Very useful for properly understanding key concepts (such as the difference between strings and symbols). I went through this a second time when I was swatting up for interviews.</p>
    <br>
    <h4><a href="https://www.codeschool.com/">Code School</a></h4>
    <p>Much of this is behind a paywall but you can try out some of the early lessons for free. Whilst the videos are well made, I just couldn't get on with the teaching style. Some topics that I'd covered on a Treehouse course seemed completely unfamiliar when I covered them with Code School. Each to their own though, other people may get on well with their teaching style</p>
  </div>

  <div class="row">
    <h3>Reference &amp; Practice</h3>
    <h4><a href="https://www.codewars.com/">Codewars</a></h4>
    <p>I LOVE Codewars. It gives you coding exercises in varying levels of difficulty and the sense of achievement when completing one was amazing. Don't get me wrong, some of them were pretty impossible for me to figure out, but if you really can't figure it out you can lost your 'points' and look at the solutions that other people have submitted. The better/cleverer ones are voted to the top of the list and I ended up writing some of them down on index cards and kept reminding myself of how they were done. WARNING - Solutions that fit onto as few lines as possible are upvoted heavily, which I took to mean that they were examples of 'good' code. They may well be clever but they are usually pretty unreadable and are therefore NOT examples of clean, readable code (I learnt that the hard way).</p>
     <br>
    <h4><a href="https://www.sitepoint.com/ruby/">Sitepoint</a></h4>
    <p>I found this quite late in my studying but it has lots of useful blog articles that deal with specific topics. When I needed to get an overview of Sinatra there were a couple of posts with code examples that really helped me to understand.</p>
  </div>