<div class="container">
   <% provide(:title, "|Tools") %>
  <div class="row">
		<div class="headings">
			<h1 class="heading-text">TOOLS</h1>
      <p>I also used some of these tools to help me while I studied</p>
      
    </div>
  </div>

  <div class="row">
    <h4><a href="http://www.toggl.com">Toggl</a></h4>
    <p>Toggl is a great time tracker. I used it to keep tabs on what I'd worked on and how long I'd worked on it for. It was also a good way to make sure that I kept going until the end of the hour and I integrated it into this very website which made me accountable for the hours I studied. You can label each session by category (which you make up yourself) and there are some handy graphs which help show you how far you've come!</p>
    <h4><a href="http://www.trello.com">Trello</a></h4>
    <p>Trello is a project management tool that is used quite extensively amongst the tech community. You can create a board per project and within that you can create various statuses (e.g. To do, In progress, Done). You then create cards with the information you need for the task on them and move them around depending on their status. I found this great for when I found a bug or thought about a new feature that I didn't want to start work on straight away; I just wrote up a card with the details and carried on with what I was doing.</p>
    <h4><a href="http://www.coolors.co">Coolours</a></h4>
    <p>I suck at design. I have absolutely no eye for it and I can't tell which colours go with which. This website gives you a range of colours that go together that you can use in the design of your website, either by entering a hex value of a colour you want to complement or just by hitting the space bar and seeing what random combinations come up.</p>
  </div>
</div>
