<div class = "container-fluid" >
  <div class="row">
    <div class="col-md-offset-2 col-md-8" >
    <h1 class="text-center">Website</h1><br>
			
			<div class="portfolioseperator">
        </div>
  
  <div class="content">
		<p><strong>Github link: </strong><a href="https://github.com/cakeordeath83/website">Here</a></p>
    <p><strong>Elevator pitch:</strong> A website to house my portfolio, blog and code snippets I've picked up along the way</p>

    <p><strong>Client: </strong>Me!</p>
    
    <p><strong>Features </strong></p>
		
    <ul>
      <li>Different colour depending on area of the site.</li>
      <li>Tagging system (with a category for grouping as well).</li>
			<li>Custom error pages</li>
			<li>Breadcrumbs for navigation</li>
			<li>Pagination</li>
		</ul>
		
  </div>
			
	<div class="portfolioseperator">
  </div>
		
	<div class="content">
				
		<p><strong>Description</strong></p>
			<p>Prior to creating this app I used a Wordpress site to house my blog and portfolio, but I wasn't happy with the layout of the site (particularly the navigation bar which was overcrowded and complicated). Short of learning PHP and making the changes, there wasn't much that I was able to do about the layout so I decided to build my own. Rails is quite a hefty tool with which to build such a simple site and I did look around for another CMS that would be better suited, but ultimately building it myself gave me full control of what it looked like, some well needed practice and also lead me to learn more about hosting a site. </p>
			<p>This app has exposed me to many new areas: SEO, hosting with Heroku, sitemaps, Google Analytics, vanity URLs...the list goes on! I'm really glad that I decided to build it myself in the end as I now have experience in hosting a site and know that it takes far more effort than I'd originally thought! I'll admit I have 'sub-contracted' quite a few features out to various gems but even that is experience and they are helping me to get a better understanding of how everything fits together. It is a risk since Rails 5 is imminent and there is no telling when and if any of these gems will be updated, but for now I think I'm ok.</p>
		
		<p><strong>Things I'm proud of </strong></p>
			<ul>
				<li>The change in colour scheme depending on the area of the site</li>
				<li>My first foray into a has_many_though database relationship</li>
				<li>Adding a lot of features I hadn't experienced before (e.g. breadcrumbs, pagination, sitemaps, vanity URLs</li>
				<li>Getting Disqus to work within the app</li>
			</ul>
    
    
    <p><strong>Future developments </strong></p>
			<ul>
				<li>A better way of displaying tags in the Learning Guides section (it looks messy and there are too many)</li>
				<li>A search facility</li>
				<li>A 'Jargon' section</li>
				<li>A floating side navigation bar</li>
				<li>A better way of displaying screenshots (ideally mouseover would show a larger version)</li>
			</ul>
    

		<p><strong>Gems I used </strong></p>
			<ul>
				<li>Paperclip – For image uploads </li>
				<li>Bootstrap and Bootstrap_form – For styling</li>
				<li>Ckeditor - For adding content</li>
				<li>Devise - For login</li>
				<li>Breadcrumbs_on_rails - To add breadcrumbs for navigation</li>
				<li>Will_paginate and Will_paginate_bootstrap - For pagination</li>
				<li>Shareable - For Twitter and Facebook icons</li>
				<li>AWS-SDK – For storing the uploaded images</li>
				<li>Figaro – For authentication of the AWS account</li>
			</ul>
    

   <p><strong>Potential future code cleanup </strong></p>
			<ul>
				<li>More tests. I have a couple in there but I'm not sure what level of testing I need to add</li>
				<li>All styling to be moved into the CSS files</li>
			</ul>
    
		

		

    
		</div><!-- row -->
</div><!-- container -->