<div class = "container">
	<% provide(:title, "") %>

  <div class="opening-statement">
    
      <img src="assets/avatar.jpg", class="center-block">
      <h1 class="text-center headline">Welcome to Coding with Clair!</h1>
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
      <p>I'm a Junior Ruby Engineer who took the strange path of teaching myself how to code using as many free and cheap resources as I could find!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
     <p>I originally set up this website as a project to help me learn to code, but now it is a place to store things I'm learning, any new coding vocab I'm coming across and blogpost documenting some of the things I'm encountering as a new developer. Feel free to contact me if you have any questions or just let me know how you came across the site
     </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="welcome-box">
      <h3>Blogposts</h3>
      <p><%= link_to "LEARNING GUIDES", snippets_path %> which contains plain english descriptions of bits of code I've picked up along the way</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="welcome-box">
        <h3>Jargon Buster</h3>
        <p><%= link_to "LEARNING GUIDES", snippets_path %> which contains plain english descriptions of bits of code I've picked up along the way</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="welcome-box">
        <h3>How to guides</h3>
        <p><%= link_to "LEARNING GUIDES", snippets_path %> which contains plain english descriptions of bits of code I've picked up along the way</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="welcome-box">
      <h3>About me</h3>
      <p><%= link_to "LEARNING GUIDES", snippets_path %> which contains plain english descriptions of bits of code I've picked up along the way</p>
      </div>
    </div>
   
  </div><!-- row -->
</div>


