<div class="container">

<h1>Tags index</h1>
	
<table class="table">
	<thead>
		<tr>
			<td>Name</td>
			<td>Catgory</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			
		<% @tags.each do |tag| %>
			<td><%= tag.name %></td>
			<td><%= tag.category %></td>
			<td><%= link_to "Assign category", edit_tag_path(tag) %></td>
		</tr>
	<% end %>
		
		</tbody>
</table>

</div>