<div class="container-fluid">
  <div class="row">
		<div class="col-md-offset-2 col-md-8 headings">
      <h1>OH DEAR</h1>
    </div><br>
    <div class="col-md-offset-2 col-md-8" style="margin-top: 30px; text-align: center;" >
		  <h3>Something seems to have gone terribly wrong...</h3><br>
			<p><%= image_tag('paranoid') %></p><br>
      <h5>There is a tiny chance that it's due to the level of traffic at the moment  </h5><br>
			<p>Sorry about that!</p><br>
			<%= link_to "Take me back to the homepage", root_path, class:"btn btn-default"%>
		</div>
  </div>  
</div>