<div class="container-fluid">
   <!-- Headings -->
  <div class="col-md-offset-2 col-md-8 headings">
    <h1>Planning and writing</h1>
  </div>
  
  <div class="col-md-offset-2 col-md-8">
    <h4><strong>Short version</strong></h4>

    <p><strong>Setup:</strong></p>
      <ul>
        <li>Controllers: Performances, Shows and Theatres. Shows and Theatres will have_many performances.</li>
        <li>Views: Create all of them just in case</li>
        <li>Models: Shows (name attribute), Theatres (name, address1, address2, city, postcode attributes), Performances (date attribute and will need access to show_id and theatre_id)</li>
      </ul>
    
      
  <p>The good – Remembering how to set up the basics pretty accurately</p>

  <p>The bad – Discovering that you can’t scaffold something which has 2 relationships.</p>

  <p>The bodge – Restarting the app from scratch 4 times instead of fixing the problems.</p>

    <p><strong>Learnings:</strong>
      <ul>
        <li>Don’t name your app the same thing as you want to name one of your controllers</li>
        <li>You can’t scaffold something that has 2 relationships</li>
      </ul>
    </p>
     <br>

    <h4><strong>Longer version</strong></h4>

<p>A while ago at a Rails Girls event I asked my coach about creating this and she said that is wasn’t possible as each show would have_many theatres and each theatre would have_many shows. After reading a couple of documents about has_many_through, I thought I’d give it a crack. I had to work out what the ‘through’ element would be and settled on ‘performances’.</p>

<p>Obviously there would need to be a Show model, which would take a name attribute and a Theatre model which would need the name of the theatre along with the address so that I could look it up on Google Maps. Each show and theatre would have_many performances. Ooh, and performances would need to have a date as well.</p>

<p>I decided to create all of the views to start with just in case I discovered I needed them later. I could always delete them if I didn’t.</p>

<p>So I set off scaffolding and created shows and theatres. Easy. But then it came to creating the performances one and I couldn’t for the life of me figure out how to set up the relationships with the show and theatre models. I tried a couple of things using migrations but they ended up not working. So I deleted everything and started again, changing the name of the app to ‘theatres’. Bad move. Turns out you can’t have a model with the same name as the app. So ANOTHER start. And it still isn’t working.</p>

<p>Right, I’m obviously going to have to write the damn thing from scratch. So I got to work.</p>
  
</div>