<div class="row">
  <p class="opening-paragraph-<%= params[:controller]%>", id="live_project_link">
    You still have <%= hours_and_minutes(time_left_today) %> to go today <br>
    This week you still have to complete <%= hours_and_minutes(time_left_this_week) %>
  </p>
</div>



