<div class="container-fluid">
  <% provide(:title, "| Schedule") %>
  
	<!-- Headings -->
	<div class="row">
		<div class="col-md-offset-1 col-md-10 headings">
			<h1 class="heading-text">DASHBOARD</h1>
		</div>
	</div>
  
  
  <!-- Main body -->
  <div class="col-md-offset-1 col-md-5", >
    <div class="row">
      
    
      <table class="table", style="text-align: center;">
        <thead>
        <tr>
          <td><strong>Project</strong></td>
          <td><strong>Total Time</strong></td>
        </tr>
        </thead>
        <tbody>
          <% total_grouped_time_entries.each do |project, entry| %>
          <tr>
            
            <td><%= project %></td>
            <td><%= hours_and_minutes(entry.map{|entry| entry.duration}.reduce(:+)) %></td>
          <% end %> <!--post.each-->
          </tr>
        </tbody>
      </table>
    </div> <!-- col-md-8 -->
    </div>
  </div>
</div>