<div class="container-fluid">
  <% provide(:title, "| Schedule") %>
  
	<!-- Headings -->
	<div class="row">
		<div class="col-md-offset-1 col-md-10 headings">
			<h1 class="heading-text">SCHEDULE</h1>
      <% if user_signed_in? %>
        <%= render partial: 'stats' %>
      <% else %>
        <%= render partial: 'current_time_entry' %>
      <% end %>
		</div>
	</div>
  
  
  <!-- Main body -->
  <div class="col-md-offset-1 col-md-10", >
    <div class="row">
      <%= render partial: 'today_time_entries' %>
      <%= render partial: 'past_time_entries' %>
	</div><!-- col-md-10 --> 
</div><!-- container -->
