<div class="container-fluid">
  <div class="col-md-offset-2 col-md-8 headings">
    <h1>Editing <%= @post.project %></h1>
    
  </div>
    <!-- Form -->
  <div class="row">
   <div class="col-md-offset-2 col-md-7">
    <%= render "form" %>
   </div>
    
  <!-- Navigation -->
   
  </div>
</div>