<div class = "container-fluid" >
  <div class="row">
    <div class="col-md-offset-2 col-md-8" >
    <h1 class="text-center">Campaign Management app</h1><br>
			
			<div class="portfolioseperator">
        </div>
  
  <div class="content">
		
    <p><strong>Elevator pitch:</strong> A campaign management tool that allows multiple campaigns to be managed across weeks and channels.</p>

    <p><strong>Client: </strong>Me (to prove I can make it)</p>
    
    
		
  </div>
			
	<div class="portfolioseperator">
  </div>
		
	<div class="content">
				
		<p><strong>Description</strong></p>
			<p>WRITE ME! </p>
			<p>WRITE ME!</p>
		
	
    
		</div><!-- row -->
</div><!-- container -->