<div class="container-fluid">
   <!-- Headings -->
  <div class="col-md-offset-1 col-md-10 headings">
    <h1>Menu</h1>
  </div>
  
  <div class="col-md-offset-1 col-md-10">
    <p><strong>Elevator pitch:</strong> WRITE THIS.</p>

    <p><strong>Client: </strong>WRITE THIS</p>
    
    <p><strong>Features: </strong>
    <ul>
      <li>WRITE THIS</li>
      <li>WRITE THIS</li>
    </ul>
    </p>
    
    <p><strong>Project stages: </strong>
      <ul>
        <li><%= link_to "Planning and creating the controllers, views and models", page_path('portfolio/musicals/planningandwriting')%></li>
        <li>WRITE THIS</li>
        <li>WRITE THIS</li>
        <li>Adding images with Paperclip</li>
        <li>Integrating Google Maps with Geocoder</li>
       
      </ul>
    </p>

    

    <p><strong>Further developments: </strong> Potentially searching, but we’ll see!</p>

<p>I’m so proud of this app. I worked out how to integrate Google Maps so that it shows the location of the theatre, uploaded images using Paperclip and pulled some nifty data from the models to display in cool ways (i.e. listing all the shows for that particular feature and sorting the index page by year). All in all it took 6 days (or 25 hours if you believe my Toggl account). But the thing I am most proud of is displaying the Google Map based on a combination of what was entered as the theatre name AND the city fields. I still don’t fully believe I managed to get it to work!
    </p>
  
</div>