<div class="container-fluid">
   <!-- Headings -->
  <div class="col-md-offset-2 col-md-8 headings">
    <h1>PORTFOLIO</h1>
   
  <p>Since starting to learn to code, I've created 3 different apps. I find that, for me, the best way to learn is  by doing, so even though they are sample pretend apps, they've helped me to understand what I'm dong and put some of the things I've learned into practice</p>
  
  
  <div>
    <h3><%= link_to "Musicals", page_path('portfolio/musicals/musicalindex') %></h3>
    <p>My first ever app! A place to log the musicals that you have seen and the places you have seen them</p>
  </div>
  
  <div>
    <h3>Menu</h3>
    <p>A Just Eat clone without the delivery, designed for those that can't decide what to have for lunch</p>
  </div>
  
  <div>
    <h3>CodingwithClair</h3>
    <p>This very blog! A place to show off my portfolio, blog about learning to code and store useful code snippets I pick up along the way</p>
  </div>
    
  </div>
  
</div>