<div class="container-fluid">
   <!-- Headings -->
  <div class="col-md-offset-2 col-md-8 headings">
    <h1>PORTFOLIO</h1>
   
  <p>Since starting to learn to code, I've created 3 different apps. I find that, for me, the best way to learn is  by doing, so even though they are sample pretend apps, they've helped me to understand what I'm dong and put some of the things I've learned into practice</p>
		
		<p><strong>DISCLAIMER - </strong>I am no designer. I have no eye for design, knowing which colours go together or picking the best images. I figured this out right at the beginning and even now seem to far too long getting these sites to look passable. Please take the design of these sites with a pinch of salt and instead marvel at the functionality behind them. Life is too short to worry about margins and padding. </p>
  
  
  <div class="row">
		<div class="col-md-7">
    <h3><%= link_to "Musicals", page_path('portfolio/musicals/musicalindex') %></h3>
    <p>My first ever app! A place to log the musicals that you have seen and the places you have seen them. Built in a week, full of rookie mistakes but up and running and currently being used by my mum.</p>
			<p><strong>Best feature: </strong>Both the theatre name and city are passed as parameters to the Geocoder gem in order to render a map.</p>
		</div>
		<div class="col-md-4">
			<%= link_to image_tag("indexpage.JPG", height: '300', width: '500'), page_path('portfolio/musicals/musicalindex')%>
			
		</div>
  </div>
  
  <div class="row">
		<div class="col-md-4">
			<%= link_to image_tag("indexpage.JPG", height: '300', width: '500'), page_path('portfolio/musicals/musicalindex')%>
		</div>
		<div class="col-md-7">
    	<h3>Menu</h3>
    	<p>A Just Eat clone without the delivery, designed for those that can't decide what to have for lunch</p>
		</div>
		
  </div>
  
  <div>
    <h3>CodingwithClair</h3>
    <p>This very blog! A place to show off my portfolio, blog about learning to code and store useful code snippets I pick up along the way</p>
  </div>
    
  </div>
  
</div>