<div class="container">
   <!-- Headings -->
  <div class="col-md-offset-2 col-md-8 headings">
  <h1>PORTFOLIO</h1>
  <p>Since starting to learn to code, I've created 3 different apps. I find that, for me, the best way to learn is  by doing, so even though they are sample pretend apps, they've helped me to understand what I'm dong and put some of the things I've learned into practice</p>
  </div>
  
  
  
</div>