@import "bootstrap-sprockets";
@import "bootstrap";

$pages-green: #00A885; 
$posts-purple: #655F7E;
$snippets-blue: #2980b9;
$jargon-brown: #6F532A;


body > div.container > div > div > p > a {
  color: white;
}


body > div > div.row > div.col-md-offset-2.col-md-6 > div.paginate > ul > li.active > span {
  background-color: #27ae60;
  border-color: #27ae60;
}
/* ALL */
* {
  border-radius: 0 !important;
}

.body {
  margin-bottom: 60px;
}

.a {
  text-decoration: none;
  color: white;
}

.text-size {
	font-size: 16px;
}

.header {
  background-color: $pages-green;
}

.breadcrumb {
  background-color: white;
  text-decoration: none;
}

#static_pages {
  background-color: $pages-green;
}

#time_entries {
  background-color: $posts-purple;
}

#snippets {
  background-color: $snippets-blue;
}

#entries {
  background-color: $jargon-brown;
}

#tags {
  background-color: $snippets-blue;
}

#topics {
	background-color: $jargon-brown;
}

#error_explanation {
  color: red;
}

/* HEADINGS */

.headings {
  h1 {
    text-align:center; 
    margin-bottom: 30px;
	  padding-left: 0px;
  }
  p {
    margin-bottom: 40px;
  }
}

.heading-text {
	margin-top: 0px; 
	margin-bottom: 50px;
}


/* WELCOME PAGE */
.welcomethirds{
  text-align: center;
}

/* NAVIGATION */
/* TEXT */
#bs-example-navbar-collapse-1 > ul > li > a {
  color: white;
}

.navbar-default .navbar-nav > li> a {
	color: white;
}

.nav .navbar-nav .navbar-left {
	color: white;
}

#Home > a {
  color: white;
  text-decoration: none;
}

/* BODY */

body{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.heading {
  text-align: center;
}

.content {
	padding: 20px 0px;
}

.bold {
	font-size: large;
}

/* NAV LINKS */

nav.share {display:inline-block;} /* shareable's nav tag */
nav.share div {float:left;}
nav.share iframe {border:0; margin-top:0; padding-top:0;} /* if using medium sized buttons */
#___plusone_0 {font-size: default !important;}
.fb_iframe_widget span { vertical-align: top; }
.fb_edge_widget_with_comment { vertical-align: top;}
.fb-like{display:inline-block}
* html .fb-like{display:inline}/* ie6 inline block fix*/
*+html .fb-like{display:inline}/* ie7 inline block fix*/

/* FORMS */

.formtitle {
  margin: 20px 0px;
}


/* FOOTER */
html {
  position: relative;
  min-height: 100%;
  padding-bottom: 70px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $pages-green;
  padding: auto;
  margin-top: 40px;
		div > div > div {
			padding-top:20px;

			ul > li {
			display:inline; 
			text-align: center;
			padding-left:20px;
			a {
				text-decoration: none;
				color: white;
			}
		}
	}
	
  &:hover{
    text-decoration: none;
    background-color: $pages-green;
  }
  &:visited{
    text-decoration: none;
    background-color: $pages-green;
    color: white;
  }
}






