@import "bootstrap-sprockets";
@import "bootstrap";

/* ALL */
* {
  border-radius: 0 !important;
}

.breadcrumb {
  background-color: white;
  text-decoration: none;
}

#static_pages {
  background-color: #D14841;
}

#posts {
  background-color: #1ABC9C;
}

#snippets {
  background-color: #54ACD2;
}

/* NAVBAR */

/* TEXT */
.nav.navbar-nav.navbar-left li a {
  color: white;
}
.nav.navbar-nav.navbar-right li a {
  color: white;
}

#Home > a {
  color: white;
  text-decoration: none;
}

/* BODY */

body{
  font-family: "Roboto", Arial, sans-serif;
  
}
/* ALL PAGES */

.heading {
  text-align: center;
}

.individual-entry {
  margin-top: 20px;
}

/* POSTS */
.side-column-posts {
  background-color: #1ABC9C;
  color: white;
  padding: 10px;
}



/* SNIPPETS */
.side-column-snippets {
  background-color: #54ACD2;
  color: white;
  padding: 10px;
}

/* FORMS */

.formtitle {
  margin: 20px 0px;
}

.form-categories-posts {
  border: solid 2px #1ABC9C;
  margin-top: 10px;
  padding: 10px;
}

.form-categories-snippets {
 border: solid 2px #54ACD2;
 margin-top: 10px;
 padding: 10px;
}

 /* ABOUT */

.about-header {
  text-align: center;
}

/* FOOTER */
html {
  position: relative;
  min-height: 100%;
  padding-bottom: 70px;
}



body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #990000;
  padding: auto;
  margin-top: 40px;
}
body > footer > div > div > ul > li  {
  text-decoration: none;
  color: white;
}
body > footer > div > div > ul > li > a:hover {
  text-decoration: none;
  background-color: #990000;
}
body > footer > div > div > ul > li > a:visited {
  text-decoration: none;
  background-color: #990000;
  color: white;
}
