// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$jargon-brown: #6F532A;

.opening-paragraph-entries {
	padding: 30px;
	font-size: 16px;
	border: 2px solid $jargon-brown;
}

.entryseperator{
  border-bottom: solid 1px $jargon-brown;  
}

.individualentry {
  padding: 20px 0px 20px 20px;
  p > strong > a {
    color: $jargon-brown;
  }
}

/* ALPHABET */
#entry > p > a {
  color: $jargon-brown;
}

/* PAGINATION */
body > div.container-fluid > div:nth-child(2) > div > div.paginateentries > ul {
  li.active > span {
    background-color: $jargon-brown;
    border-color: $jargon-brown;
  }
  li:nth-child(n) > a {
    color: $jargon-brown;
    border-color: $jargon-brown;
  }
}