// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$pages-green: #00A885; 

.opening-paragraph-portfolio {
	padding: 30px;
	font-size: 16px;
	border: 2px solid $pages-green;
	margin-bottom: 20px;
}

.opening-paragraph-pages {
  margin-bottom: 10px;
}

.portfolioseperator {
	border-bottom: solid 1px $pages-green;
	
}

/* links */
.individualportfolio {
  color: $pages-green;
}

.portfolioimages {
  text-align: center; 
	margin: 25px;
}

#live_project_link > a {
  color: white;
  margin-bottom: 8px;
}

.break-image {
  height: 250px; 
  width: 300px;
  margin-top: 10px;
}



/* ABOUT */

.about-header {
  text-align: center;
}

.welcome-box{
  background-color:#00A885; 
  padding: 15px;
  height: 330px;
  text-align: center;
}