// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$posts-purple: #655F7E;

.opening-paragraph-posts {
	padding: 30px;
	font-size: 16px;
	border: 2px solid $posts-purple;
}

.postseperator{
  border-bottom: solid 1px $posts-purple;  
}

.individualpost {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  div > div p > strong > a {
    color: $posts-purple;
  }
}

/* Pagination  DROP THIS IF YOU DECIDE NOT TO PAGINATE THE POSTS PAGE!!*/
body > div.container-fluid > div.row > div.col-md-offset-1.col-md-8 > ul > li.active > span {
  background-color: $posts-purple;
  border-color: $posts-purple;
}

body > div > div.row > div.col-md-offset-1.col-md-8 > ul {
  li:nth-child > a {
  color: $posts-purple;
  }
  li > a{
  color: $posts-purple;
  }
}

.form-categories-posts {
  border: solid 2px $posts-purple;
  margin-top: 10px;
  padding: 10px;
}

/* BUTTONS */
#Ruby {
	background-color: #CC0000;
	border: 0.5px #CC0000 solid;
}

#Rails {
	background-color: #8C001A;
	border: 0.5px #8C001A solid;
}

#Employment {
	background-color: #f39c12;
	border: 0.5px #f39c12 solid;
	color: black;
}

#Html {
	background-color: #2980b9;
	border: 0.5px #2980b9 solid;
}

#Css {
	background-color: #27ae60;
	border: 0.5px #27ae60 solid;
}

#Compsci {
	background-color: #2c3e50;
	border: 0.5px #2c3e50 solid;
}

#Cheatsheet {
  background-color: #009933;
	border: 0.5px #2c3e50 solid;
}

#Revisit {
  background-color: #999966;
	border: 0.5px #2c3e50 solid;
}

#Security {
  background-color: #9900ff;
	border: 0.5px #2c3e50 solid;
}

#Database {
  background-color: #663300;
	border: 0.5px #2c3e50 solid;
}