<div class="col-md-2 side-column-<%=params[:controller] %>" style="padding-left: 40px;" >
  <h4 style="padding-bottom: 10px;">TAGS</h4>
    <% Tag.all.group_by{|tag| tag.category}.each do |category, value| %>
	    <h5 style="margin-bottom: 10px;"><%= category.upcase %></h5>
			<% value.each do |value| %>
			<ul style="padding-left: 20px; margin: 2px;">
			  <li class="list-unstyled"><%= link_to value.name, tag_path(value.id) %></li>
			</ul>
			<% end %>
	  <% end %>
</div>